#card-container {
  width: 80%;
  height: 80vmin;
  background-color: white;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  max-width: 350px;
  max-height: 406px;
  overflow: hidden;
}

#profile-info {
  width: 100%;
  height: 16%;
  background-color: red;
}
