.standard-button {
  width: 160px;
  background-color: #f27a83;
  border-radius: 16px;
  border: none;
  padding: 2px;
  box-shadow: 2px 1px 10px #f27a83;
}

.standard-button > h2 {
  color: white;
}
