* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./assets/images/background.png") no-repeat center;
  background-size: cover;
}

header {
  display: inline-block;
  position: absolute;
  top: 1vmax;
  left: 4vw;
}

header h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 3vmax;
}

main {
  position: relative;
  margin-left: 8vmax;
  margin-bottom: 4cm;
}

main h1 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 4vmax;
  line-height: 8vmax;
}

main button {
  margin-top: 4vmax;
}
